<h1>Yea: {{model.breakdown.total.Yea}}</h1>
<h1>Nay: {{model.breakdown.total.Nay}}</h1>

<h2>Democratic Party</h2>
<h4>Yea: {{model.breakdown.party.D.Yea}}</h4>
<h4>Nay: {{model.breakdown.party.D.Nay}}</h4>

<h2>Republican Party</h2>
<h4>Yea: {{model.breakdown.party.R.Yea}}</h4>
<h4>Nay: {{model.breakdown.party.R.Nay}}</h4>

{{bill-chart billData=model}}
